body {
    background-color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
    max-width: 1920px;
    background-color: #171717;
    margin: 0 auto;
    padding-bottom: 240px;
}

.content {
    max-width: 1460px;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
    padding-top: 45px;
}

.logo {
    display: inline-block;
}

.call-back {
    display: flex;
    color: #E4B564;
    border: 1px solid #E4B564;
    text-align: center;
    align-items: center;
    text-decoration: none;
    background-color: #171717;
    padding: 10px 25px;
}

.phone {
    margin-right: 10px;
}

h2 {
    display: inline-block;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
    color: white;
}

.title-heat-nets{
    margin-top: 128px;
    margin-bottom: 40px;
}

p {
    max-width: 1182px;
    color: white;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 40px;
}

.grid-net {
    display: grid;
    grid-template-areas: 
    "item1 item1 item2 item2 item3 item3"
    "item4 item4 item4 item5 item5 item5";
    grid-template-rows: 470px 470px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 30px;
}

.grid-net > div {
    text-align: center;
    padding-top: 220px;
    color: #fff;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
}

#brown{
    grid-area: item1;
    background-color: #634F2C;
}

#light-grey{
    grid-area: item2;
    background-color: #B4A385;
}

#beige {
    grid-area: item3;
    background-color: #E4B564;
}

#dark-grey {
    grid-area: item4;
    background-color: #635A4A;
}

#dark-beige{
    grid-area: item5;
    background-color: #B08C4D;
}

.title-techs {
    margin-top: 160px;
    margin-bottom: 95px;
}

.grid-techs {
    display: grid;
    grid-template-areas: 
    "box1 box2 box3"
    "box1 box2 box3"
    "box4 box2 box6"
    "box4 box5 box6"
    "box4 box5 box7"
    "box4 box5 box7"
    ;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 140px 140px 140px 140px 140px 140px;
    grid-gap: 30px;
    padding-bottom: 190px;
}
.grid-techs > div {
    padding-top: 45px;
    padding-left: 55px;
    color: #fff;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
}
span {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
}

.box1{
    background-color: #0E0E0E;
    grid-area: box1;
}

.box2 {
    background-color: #242424;
    grid-area: box2;
}

.box3 {
    background-color: #1F1F1F;
    grid-area: box3;
}

.box4 {
    background-color: #1F1F1F;
    grid-area: box4;
}

.box5 {
    background-color: #E4B564;
    color: #0E0E0E;
    grid-area: box5;
}

.box6 {
    background-color: #0E0E0E;
    grid-area: box6;
}

.box7 {
    background-color: #0A0909;
    grid-area: box7;
}

.wrapper{
    margin: 0 auto;
    max-width: 1920px;
    padding-top: 172px;
    background-color: #0E0E0E;
}

.projects{
    max-width: 1460px;
    margin: 0 auto;
}

.title-projects {
    display: flex;
    justify-content: space-between;
}

.button {
    display: inline-block;
    text-decoration: none;
    font-size: 18px;
    color: #E4B564;
    padding: 10px 40px;
    border: 1px solid #E4B564;
}

.flex-container {
    display: flex;
    max-width: 1460px;
    flex-wrap: wrap;
    padding-top: 72px;
    margin: 0 auto;
}

.item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 485px;
    height: 390px;
    text-align: center;
    margin: 0 auto;
}

.item > img{
    display: block;
}

.item1 {
    background-color: #634F2C ;
}

.item2 {
    background-color: #E8D2ABC2;
    flex-wrap: wrap;
    padding: 60px 85px; 
}

.adress {
    font-weight: normal;
    line-height: 28px;
}

.item3 {
    background-color: #E4B564;
}

.item4 {
    background-color: #635A4A;
}

.item5 {
    background-color: #B08C4D;
}

.item6 {
    background-color: #634F2C;
}